<head>

  <title>followCrom - Python Web App</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" media="(min-width: 1024px)" href="{{ url_for('static', filename='styles/large.css') }}">
  <link rel="stylesheet" media="(min-width: 640px) and (max-width: 1023px)"
    href="{{ url_for('static', filename='styles/medium.css') }}">
  <link rel="stylesheet" media="(max-width: 639px)" href="{{ url_for('static', filename='styles/small.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_dom.ico') }}">

  <script type="text/javascript" language="JavaScript" src="js/analytics.js"></script>

</head>


<body class="main">

  <div class="banner">

    <h1><a href="https://www.followcrom.online/">followCrom</a></h1>

  </div>

  <div class="top_bar">
    A Python web app connected to a MySQL database

    <div class="tools">

      <img class="icon" src="static/images/icons/flask.png" width="32" height="32" alt="Built with Flask"
        title="Built with Flask">
      <img class="icon" src="static/images/icons/python.png" width="32" height="32" alt="Built with Python"
        title="Built with Python">
      <img class="icon" src="static/images/icons/mysql.png" width="32" height="32" alt="Built with MySQL"
        title="Built with MySQL">
      <img class="icon" src="static/images/icons/html.png" width="32" height="32" alt="Built with HTML/CSS"
        title="Built with HTML/CSS">
      <img class="icon" src="static/images/icons/javascript.png" width="32" height="32" alt="Built with JavaScript"
        title="Built with JavaScript">

    </div>
  </div>