<head>

  <title>followCrom - Momento Contento</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" media="(min-width: 1024px)" href="{{ url_for('static', filename='styles/large.css') }}">
  <link rel="stylesheet" media="(min-width: 640px) and (max-width: 1023px)"
    href="{{ url_for('static', filename='styles/medium.css') }}">
  <link rel="stylesheet" media="(max-width: 639px)" href="{{ url_for('static', filename='styles/small.css') }}">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_dom.ico') }}">

</head>


<body class="main">

  <div class="banner">
    <img src="static/images/djrr.jpg" alt="DJ Double R" height="120px">

    <div class="button">
      <a href="/">Momento<br>Contento</a>
    </div>

  </div>

  </div>

  <div class="top_bar">
    A Python web app built with Flask and connected to a SQL database

    <div class="tools">

      <img class="icon" src="static/images/icons/flask.png" width="32" height="32" alt="Built with Flask"
        title="Built with Flask">
      <img class="icon" src="static/images/icons/python.png" width="32" height="32" alt="Built with Python"
        title="Built with Python">
      <img class="icon" src="static/images/icons/mysql.png" width="32" height="32" alt="Built with MySQL"
        title="Built with MySQL">
      <img class="icon" src="static/images/icons/html.png" width="32" height="32" alt="Built with HTML/CSS"
        title="Built with HTML/CSS">

    </div>
  </div>